@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&family=Roboto:wght@100;300;400&display=swap');

* {
    margin:0;
    box-sizing: border-box;
}

.app{
    display: flex;
    font-family: 'Roboto', sans-serif;
}